@import url(https://fonts.googleapis.com/css?family=Patua+One);

@import url(https://db.onlinewebfonts.com/c/d29e5b2a70883f04b6d8cce692f3616b?family=Marvin+W01+Regular);
@font-face {
	font-family: Lilita;
	src: url(resources/image/LilitaOne-Regular.ttf);
}

@font-face {
	font-family: "Marvin W01 Regular";
	src: url("https://db.onlinewebfonts.com/t/d29e5b2a70883f04b6d8cce692f3616b.eot");
	src: url("https://db.onlinewebfonts.com/t/d29e5b2a70883f04b6d8cce692f3616b.eot?#iefix")format("embedded-opentype"),
	url("https://db.onlinewebfonts.com/t/d29e5b2a70883f04b6d8cce692f3616b.woff2")format("woff2"),
	url("https://db.onlinewebfonts.com/t/d29e5b2a70883f04b6d8cce692f3616b.woff")format("woff"),
	url("https://db.onlinewebfonts.com/t/d29e5b2a70883f04b6d8cce692f3616b.ttf")format("truetype"),
	url("https://db.onlinewebfonts.com/t/d29e5b2a70883f04b6d8cce692f3616b.svg#Marvin W01 Regular")format("svg");
}
html{
	font-family: "Marvin W01 Regular";
	font-size: 20px;
	margin: 0;
	left: 0;
	top:0;
}

body{
	background-color: lightblue;
	background: url(assets/fundo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top:0;
	left: 0;
	position: absolute;
	float: left;
	touch-action: none;
	-ms-touch-action: none;
	font-family: "Marvin W01 Regular";
}
.s80{
	width: 80vw;
}
.s70{
	width: 70vw;
}
.s60{
	width: 60vw;
}
.s50{
	width: 50vw;
}
.s40{
	width: 40vw;
}
.s30{
	width: 30vw;
}
.s20{
	width: 20vw;
}
.s10{
	width: 10vw;
	height: auto;
}
.titulo{
	width: 40%;
	height: auto;
} 
.subtitulo{
	width: 60%; 
	color: white;
	font-size: 20px;
	text-align: center;
}
.logo1{
	width: 7vw;
	height: auto;
} 
.logo2{
	width: 7vw;
	height: auto;
}
.telaInicial{
	width: 100%;
	height:100vh;
	display:flex;
	flex-direction: column; 
	align-items: center; 

}
.telaInicioTitulo{
	width: 100%;
	height:100vh;
	display:flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center;
	flex-grow: 4;
	gap: 20px;
}
.telaInicioBottom{
	width: 100%;
	position: absolute;
	display:flex;
	bottom:0px;
	flex-direction: row; 
	justify-content: space-between;
	pointer-events: none;

}
.telaParabens{
	top:12%;
	left: 12%;
	width: 75%;
	height:75%;
	display:flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	position: absolute; 
	z-index: 10;
	background-color: white;
	border-radius: 20px;
}
.btCreditos{

	right: 20px;
	top: 20px;
	position: absolute;
}

/* The Modal (background) */
.modal {
	font-family:Arial, Helvetica, sans-serif;
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	border-radius: 20px;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
} 
@media only screen and (max-width: 600px) {
	body {
		font-size: 10px;
	}
	.s80{
		width: 80vh;
	}
	.s70{
		width: 70vh;
	}
	.s60{
		width: 60vh;
	}
	.s50{
		width: 50vh;
	}
	.s40{
		width: 40vh;
	}
	.s30{
		width: 30vh;
	}
	.s20{
		width: 20vh;
	}
	.s10{
		width: 10vh;
		height: auto;
	}
	.logo1{
		width: 25vw;
		height: auto;
	} 
	.logo2{
		width: 25vw;
		height: auto;
	}
	.titulo{
		width: 90%;
		height: auto;
	} 
	.subtitulo{
		width: 80%; 
		color: white;
		font-size: 2em;
	}
}